<div ng-hide="isControlPanelHidden" class="bs-example">
  <label style="margin: 10px;">Charts Archive ID:</label>&nbsp;&nbsp;<a href="#" editable-text="archiveId">{{ archiveId || 'Click to edit' }}</a>
  <span ng-show="isLoading">
    <img src="images/loading.gif">
  </span>
</div>


<div class="highlight">
  <div ng-show="mainData.name" class="row">
    <div class="col-xs-12">
      <h4>{{ mainData.name }}</h4>
      <p class="alert alert-warning">
        You are viewing history charts captured <span style="border-bottom: dashed 1px" tooltip="{{ mainData.AbsCreated }}">{{ mainData.relativeCreated }} </span>
      </p>
      <p>
        <button ng-click="editInWorkbench()" class="btn btn-xs btn-default">Edit in Workbench</button>
      </p>
      <hr>
      <div class="row">
<!--         <div ng-repeat="(i, chart) in mainData.charts.data">
          <highchart config="chart.chartData" class="col-xs-12"></highchart>
        </div> -->
        <div ng-repeat="(id, chart) in mainData.charts.data">
          <div class="row">
            <div class="col-xs-11">
              <highchart ng-show="!chart.$$$showingSource" config="chart.chartData" class="col-xs-12"></highchart>
              <div ng-show="chart.$$$showingSource" class="highlight">
                <h4>Query Source</h4>
                <textarea class="form-control" rows="15">{{ chart.queryString }}</textarea>
              </div>
            </div>
            <div class="col-xs-1" style="padding-left:0px">
              <div class="row">
                <div class="col-xs-12">
                  <span><strong>No. {{ id*1 + 1 }}</strong></span>
                  <hr>
                </div>
                <div class="col-xs-12">
                  <p> <button type="button" class="btn btn-xs btn-default" ng-model="chart.$$$showingSource" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Source</button> </p>
                </div>
              </div>
            </div>
          </div>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>
