    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" ng-href="#/">GraphES</a>
        </div>
        <div class="navbar-collapse collapse" ng-controller="HeaderCtrl">
          <ul class="nav navbar-nav">

            <!-- Dashboard dropdown start -->
            <li ng-class="{ active: isActive('/dash'), dropdown: true}">
              <a ng-click="setDashboardFilterFocus()" href class="dropdown-toggle" data-toggle="dropdown">Dashboard<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="row" style="padding: 3px 20px;min-width:330px;">
                    <div class="col-xs-7">
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                        <input tooltip-popup-delay="500" tooltip="Search dashboards..." ng-init="dashboardFilter=''" type="text" ng-focus-on="menuDashboardFilter" class="form-control" placeholder="Search..." ng-model="dashboardFilter">
                      </div>
                    </div>
                    <div class="col-xs-5" style="padding-left:0;padding-right:0;">
                      <button tooltip-popup-delay="500" tooltip="Refresh Dashboard list menu" ng-click="refreshDashboardList()" class="btn btn-sm btn-default"><i ng-class="{'fa': true,'fa-refresh': true, 'fa-spin': config.isDashboardsRefreshing}"></i></button>
                      <a tooltip-popup-delay="500" tooltip="Dashboard manager" ng-href="#/dash" class="btn btn-sm btn-default"><i class="fa fa-gear"></i></a>
                      <a tooltip-popup-delay="500" tooltip="Create a new dashboard" ng-href="#/dash/new" class="btn btn-sm btn-default"><i class="fa fa-plus-square-o"></i></a>
                    </div>
                  </div>
                </li>
                <li class="divider"></li>
                <li ng-repeat="dashboard in config.dashboards | filter:dashboardFilter | filter: {global: true}">
                  <a ng-href="#/dash/id/{{ dashboard._id }}">
                    <div class="bs-callout" style="margin: 5px 0; padding: 0 0 0 5px;">
                      <strong><i class="fa fa-bar-chart-o"></i> {{ dashboard.name }}</strong>
                      <p><small class="text-muted">{{ dashboard.description }}</small></p>
                    </div>
                  </a>
                </li>
                <li class="divider"></li>
                <li ng-repeat="dashboard in config.dashboards | filter:dashboardFilter | filter: {global: false} | filter: isFav">
                  <a ng-href="#/dash/id/{{ dashboard._id }}">
                    <div class="bs-callout" style="margin: 5px 0; padding: 0 0 0 5px;">
                      <strong><i class="fa fa-bar-chart-o"></i> {{ dashboard.name }}</strong>
                      <p><small class="text-muted">{{ dashboard.description }}</small></p>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- End dashboard dropdown menu -->

            <!-- Workbench dropdown start -->
            <li ng-class="{ active: isActive('/workbench'), dropdown: true}">
              <a ng-click="setSchemaFilterFocus()" href class="dropdown-toggle" data-toggle="dropdown">Workbench<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <div class="row" style="padding: 3px 20px;min-width:330px;">
                    <div class="col-xs-7">
                      <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                        <input tooltip-popup-delay="500" tooltip="Search workbench schemas..." ng-init="schemaFilter=''" type="text" ng-focus-on="menuSchemaFilter" class="form-control" placeholder="Search..." ng-model="schemaFilter">
                      </div>
                    </div>
                    <div class="col-xs-5" style="padding-left:0;padding-right:0;">
                      <button tooltip-popup-delay="500" tooltip="Reload workbench schemas" ng-click="refreshSchemaList()" class="btn btn-sm btn-default"><i ng-class="{'fa': true,'fa-refresh': true, 'fa-spin': config.isSchemasRefreshing}"></i></button>
                      <a tooltip-popup-delay="500" tooltip="Workbench schema manager" ng-href="#/workbench/schema" class="btn btn-sm btn-default"><i class="fa fa-gear"></i></a>
                      <a tooltip-popup-delay="500" tooltip="Create a new workbench schema" ng-href="#/workbench/schema/new" class="btn btn-sm btn-default"><i class="fa fa-plus-square-o"></i></a>
                    </div>
                  </div>
                </li>
                <li class="divider"></li>
                <li ng-repeat="schema in config.schemas | filter:schemaFilter">
                  <a ng-href="#/workbench/id/{{ schema._id }}">
                    <div class="bs-callout" style="margin: 5px 0; padding: 0 0 0 5px;">
                      <strong><i class="fa fa-tasks"></i> {{ schema.name }}</strong>
                      <p><small class="text-muted">{{ schema.description }}</small></p>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <!-- End workbench dropdown -->

            <!-- Standard menu -->
            <li ng-class="{ active: isActive('/archive')}"><a ng-href="#/archive">Archives</a></li>
            <li ng-class="{ active: isActive('/embedded')}"><a ng-href="#/embedded">Embedded</a></li>
            <!-- End standard menu -->
            
          </ul>

          <!-- Dropdown pull-right start -->
          <ul class="nav navbar-nav navbar-right">
            <li ng-class="{ active: isActive('/about')}"><a ng-href="#/about"><i class="fa fa-question-circle"></i> About</a></li>
          </ul>
          <!-- End dropdown pull-right -->

        </div><!--/.nav-collapse -->
      </div>
    </div>
