<h4>All Profiles <a ng-href="#"><i class="text-muted fa fa-plus-square-o"></i></a></h4>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th width="5%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><i class="fa fa-file-text-o"></i> <a href="#">my-test-file</a></td>
        <td>tdwsklfjdklg dsklgj dkl</td>
        <td align="center">
          <a href="#"><i class="fa fa-copy"></i></a> 
          <a href="#"><i class="fa fa-trash-o"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h4>{{ currentProfile.name|uppercase }}</h4>


