<div ng-show="!showingCurrent">
  <div>
    <h3>All Profiles</h3>
    <a href class="btn btn-default btn-xs" ng-click="newCurrent()"><i class="text-muted fa fa-plus-square-o"></i> Add</a> | <a href class="btn btn-default btn-xs" ng-click="loadProfiles()"><i class="text-muted fa fa-refresh"></i> Refresh</a>
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>ES Index</th>
          <th>Dimensions</th>
          <th>Description</th>
          <th width="5%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(name, profile) in profiles">
          <td><i class="fa fa-file-text-o"></i> <a href="#">{{ name }}</a></td>
          <td>{{ profile.pattern }}</td>
          <td>
            <span ng-repeat="dimension in profile.dimensions">
              <span tooltip-placement="top" tooltip-trigger="mouseenter" tooltip="{{ dimension.pattern }}" class="label label-info">{{ dimension.name }}</span>&nbsp;
            </span>
          </td>
          <td>{{ profile.description }}</td>
          <td align="center">
            <a href ng-click="showCurrent(name)"><i class="fa fa-edit"></i></a> 
            <a href ng-click="removeSelect(name)"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="isLoading"> <img src="images/loading.gif"></div>

</div>

<div ng-show='showingCurrent'>
  <h3>
    <span ng-show="profiles[currentProfile.name] === undefined">New Profile </span>
    <span ng-hide="profiles[currentProfile.name] === undefined">Editing </span> <span class="text-muted">{{currentProfile.name}}</span>
  </h3>
  <hr>
  <form role="form" ng-submit="saveCurrentProfile()">
    <div class="form-group">
      <label for="inputName">Name*</label>
      <input type="text" class="form-control" id="inputName" placeholder="Enter the profile name" name="name" ng-model="currentProfile.name" ng-required="true">
    </div>
    <div class="form-group">
      <label for="inputPattern">Index Pattern*</label>
      <input type="text" class="form-control" id="inputPattern" placeholder="Enter the target index pattern" name="pattern" ng-model="currentProfile.pattern" ng-required="true">
    </div>
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <input type="text" class="form-control" id="inputDescription" placeholder="The description of profile" name="description" ng-model="currentProfile.description">
    </div>

      <hr>
      <h5 class="bs-example">
        Filtering Dimensions <a ng-click="addNewDimension()" class="btn btn-default btn-xs"><i class="fa fa-plus-square"></i> Add</a>
      </h5>
      <div class="highlight">
        <div ng-repeat="(id, dimension) in currentProfile.dimensions">
          <div class="row">
            <div class="col-xs-2">
              <input type="text" class="form-control" placeholder="Name" ng-model="dimension.name" ng-required="true">
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="Dimension Pattern, standard ES syntax supported", ng-model="dimension.pattern" ng-required="true">
            </div>
            <a ng-click="removeDimension(id)" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
          </div>
          <p></p>
        </div>
        <div class="text-muted" ng-show="currentProfile.dimensions.length === 0">No dimension existed, click button Add to create one.</div>
      </div>

    <button type="submit" class="btn btn-primary">
      <span ng-show="profiles[currentProfile.name] === undefined">Add</span>
      <span ng-hide="profiles[currentProfile.name] === undefined">Update</span>
    </button>
    <a class="btn btn-default" ng-click="cancelCurrent()">Cancel</a>
  </form>
</div>
