<div ng-show="!showingCurrent">
  <div>
    <h3>Workbench Schemas</h3>
    <a href class="btn btn-default btn-xs" ng-click="newCurrent()"><i class="text-muted fa fa-plus-square-o"></i> New</a>
     | 
    <a href class="btn btn-default btn-xs" ng-click="reloadSchemas()"><i class="text-muted fa fa-refresh"></i> Refresh</a>
  </div>
  <hr>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>ES Index</th>
          <th>Dimensions</th>
          <th>Description</th>
          <th width="5%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="schema in schemas">
          <td><i class="fa fa-file-text-o"></i> <a href ng-click="showCurrent($index)">{{ schema.name }}</a></td>
          <td>{{ schema.pattern }}</td>
          <td>
            <span ng-repeat="dimension in schema.def.model.dimensions">
              <span tooltip-placement="top" tooltip-trigger="mouseenter" tooltip="{{ dimension.pattern }}" class="label label-info">{{ dimension.name }}</span>&nbsp;
            </span>
          </td>
          <td>{{ schema.description }}</td>
          <td align="center">
            <a href ng-click="removeSelect($index)"><i class="fa fa-trash-o"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="isLoading"> <img src="images/loading.gif"></div>

</div>

<div ng-show="showingCurrent">
  <h3>
    <span ng-show="!currentSchema._id">New Schema </span>
    <span ng-show="currentSchema._id">Editing </span> <span class="text-muted">{{currentSchema.name}}</span>
  </h3>
  <hr>
  <form role="form" ng-submit="saveCurrentSchema()">
    <div class="form-group">
      <label for="inputName">Name*</label>
      <input type="text" class="form-control" id="inputName" placeholder="Enter the schema name" name="name" ng-model="currentSchema.name" ng-required="true">
    </div>
    <div class="form-group">
      <label for="inputPattern">Index Pattern*</label>
      <input type="text" class="form-control" id="inputPattern" placeholder="Enter the target index pattern" name="pattern" ng-model="currentSchema.pattern" ng-required="true">
    </div>
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <input type="text" class="form-control" id="inputDescription" placeholder="The description of schema" name="description" ng-model="currentSchema.description">
    </div>

      <hr>

      <h5 class="bs-example"> Default Preferences </h5>
      <div class="highlight">

        <div class="form-group">
          <label for="inputDefaultQuery">Query string</label>
          <input type="text" class="form-control" id="inputDefaultQuery" placeholder="The default query string" ng-model="currentSchema.def.model.query">
        </div>

        <div class="form-group">
          <label for="inputPeriodStart">Period from</label>
          <input type="text" class="form-control" id="inputPeriodStart" placeholder="The default start time of the query" ng-model="currentSchema.def.period.start">
        </div>

        <div class="form-group">
          <label for="inputPeriodEnd">Period to</label>
          <input type="text" class="form-control" id="inputPeriodEnd" placeholder="The default end time of the query" ng-model="currentSchema.def.period.end">
        </div>

        <div class="form-group"><label>Comparison</label></div>

        <div class="form-group">
          <label class="radio-inline">
            <input type="radio" ng-model="currentSchema.def.period.compare" ng-value="true"> Enabled compare
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="currentSchema.def.period.compare" ng-value="false"> Disabled compare
          </label>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="The default offset of comparison(in seconds)" ng-model="currentSchema.def.period.offset">
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-2">
              <label>Chart Type</label>
              <select class="form-control" ng-model="currentSchema.def.visualization.type">
                <option value="area">Area</option>
                <option value="line">Line</option>
                <option value="column">Column</option>
                <option value="range">Range</option>
              </select>
            </div>
            <div class="col-xs-2">
              <label>Chart Value</label>
              <select class="form-control" ng-model="currentSchema.def.visualization.chartValue">
                <option value="min">Min</option>
                <option value="mean">Mean</option>
                <option value="max">Max</option>
                <option value="count">Count</option>
                <option value="total">Total</option>
              </select>
            </div>
            <div class="col-xs-2">
              <label>Stacking</label>
              <select class="form-control" ng-model="currentSchema.def.visualization.stacking">
                <option value="">Disabled</option>
                <option value="normal">Normal</option>
                <option value="percent">Percent</option>
              </select>
            </div>
          </div>
          <p>&nbsp;</p>
          <div class="row">
            <div class="col-xs-2">
              <label>Value Field/Script</label>
              <input type="text" class="form-control" placeholder="The default field of values" ng-model="currentSchema.def.visualization.valueField">
            </div>
            <div class="col-xs-2">
              <label>Time Field</label>
              <input type="text" class="form-control" placeholder="The default field of datetime" ng-model="currentSchema.def.period.timeField">
            </div>
            <div class="col-xs-3">
              <div class="input-group" style="margin: 2px;">
                <span class="input-group-addon" style="width: 90px;">
                  <label><input ng-model="currentSchema.def.period.pointIntervalOpt" value="interval" type="radio" name="downsampleOption"> Interval</label>
                </span>
                <input style="text-align:right;" type="text" class="form-control" ng-model="currentSchema.def.period.pointInterval">
              </div><!-- /input-group -->

              <div class="input-group" style="margin: 2px;">
                <span class="input-group-addon" style="width: 90px;">
                  <label><input ng-model="currentSchema.def.period.pointIntervalOpt" value="points" type="radio" name="downsampleOption"> Points</label>
                </span>
                <input style="text-align:right;" type="text" min="1" class="form-control" ng-model="currentSchema.def.period.pointPoints">
              </div><!-- /input-group -->

            </div>
          </div>
        </div>

      </div>

      <h5 class="bs-example">
        Filtering Dimensions <a ng-click="addNewDimension()" class="btn btn-default btn-xs"><i class="fa fa-plus-square"></i> Add</a>
      </h5>

      <div class="highlight">
        <div ng-repeat="(id, dimension) in currentSchema.def.model.dimensions">
          <div class="row">
            <div class="col-xs-2">
              <input type="text" class="form-control" placeholder="Name" ng-model="dimension.name" ng-required="true">
            </div>
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="Filtering dimension pattern, standard ES syntax supported" ng-model="dimension.pattern" ng-required="true">
            </div>
            <a href ng-click="removeDimension(id)" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
          </div>
          <p></p>
        </div>
        <div class="text-muted" ng-show="currentSchema.def.model.dimensions.length === 0">No dimension existed, click button Add to create one.</div>
      </div>

    <a class="btn btn-sm btn-default" ng-click="cancelCurrent()">Cancel</a>
    <button class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Save</button>
    <span ng-show="currentSchema._id">&nbsp;|&nbsp;</span>
    <button ng-click="madeCurrentDuplicate()" ng-show="currentSchema._id" class="btn btn-sm btn-primary"><i class="fa fa-files-o"></i> Duplicate</button>
  </form>
</div>
