<div ng-hide="isControlPanelHidden" class="bs-example">
  <tabset>

      <!-- Model Tab Start -->
      <tab>
        <tab-heading><i class="fa fa-wrench"></i> Model</tab-heading>
        <p>&nbsp;</p>
        <!-- model start -->
        <div class="container row">
          <div class="col-xs-3">
            <div tooltip-popup-delay="500" tooltip="Turn on the facet or not" style="cursor:pointer;"
              ng-repeat="dimension in settings.def.model.dimensions"
              ng-click="toggleDimension(dimension)"
              ng-class="{'wellbox': true, 'wellbox-active': dimension.enabled}">
              <div class="checkbox" style="padding-left:10px;">
                  <i ng-show="dimension.enabled" class="fa fa-check-square-o"></i> <i ng-hide="dimension.enabled" class="fa fa-square-o"></i> {{ dimension.name }}
              </div>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-xs-2 control-label">Main Query <a target="_blank" href="http://lucene.apache.org/core/2_9_4/queryparsersyntax.html"><i class="fa fa-question-circle"></i></a></label>
                <div class="col-xs-10">
                  <input tooltip-popup-delay="500" tooltip="The query syntax is based on Lucene, could be anything you want" type="text" class="form-control" placeholder="search for time-serials..." ng-model="settings.def.model.query">
                </div>
              </div>
            </div>
            <hr>

            <div ng-repeat="dimension in settings.def.model.dimensions | filter: {enabled: true}" class="">
              <div class="bs-example">
                  <h4>{{ dimension.name }} <small> | <i class="text-muted" ng-bind-html="dimension.pattern | pattern"></i></small></h4><hr>
                  <div ng-class="{'group-normal': true, 'group-active': dimension.enableGroup}">
                    <div class="row">
                      <div class="col-xs-12">
                        <form ng-submit="addTags(dimension);">
                          <span ng-repeat="(name, ena) in dimension.lists">
                            <span ng-click="toggleOne(dimension, name, ena)" ng-class="{btn: true, 'btn-default': !ena, 'btn-success': ena, 'btn-xs': true, active: ena}">{{ name }}</span>&nbsp;
                          </span>
                          <input tooltip-popup-delay="500" tooltip="Press enter to confirm the new value. Add more in batch using '|' as the separator" ng-blur="addTags(dimension)" ng-model="dimension.tmpNew" placeholder="Add..." type="text" class="form-control input-sm" style="display: inline; width: 60px; height: 22px; margin: 4px;">
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="highlight">
                <div class="pull-right">
                  Select
                  <button tooltip-popup-delay="500" tooltip="Turn on all series in current facet" ng-click="toggleAll(dimension.lists, true)" class="btn btn-xs btn-default">All</button>
                  <button tooltip-popup-delay="500" tooltip="Turn off all series in current facet" ng-click="toggleAll(dimension.lists, false)" class="btn btn-xs btn-default">None</button>
                  <button tooltip-popup-delay="500" tooltip="Reverse if the series should be drawn" ng-click="toggleAll(dimension.lists)" class="btn btn-xs btn-default">Toggle</button> | 
                  <button tooltip-popup-delay="500" tooltip="Draw selected series in the same chart when enabled" ng-click="toggleGroup(dimension)" class="btn btn-xs btn-default">Group</button>
                </div>
                <div>&nbsp;</div>
              </div>
            </div>

          </div>
        </div>
        <!-- model end -->
      </tab>
      <!-- Model Tab End -->

      <!-- Periods Tab Start -->
      <tab>
        <tab-heading><i class="fa fa-clock-o"></i> Periods</tab-heading>
        <p>&nbsp;</p>
        <div class="container row"><h4>Basic</h4><hr></div>

        <div class="container row">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Fast Fill</h3>
            </div>
            <div class="panel-body">
              
              <button ng-click="fastFill('10 minutes ago', 'now')" class="btn btn-default btn-sm"><i><span class="text-muted">Last</span> <strong>10 min</strong></i></button>
              <button ng-click="fastFill('30 minutes ago', 'now')" class="btn btn-default btn-sm"><i><span class="text-muted">Last</span> <strong>30 min</strong></i></button>
              &nbsp;|&nbsp;
              <button ng-click="fastFill('1 hour ago', 'now')" class="btn btn-default btn-sm"><i><span class="text-muted">Last</span> <strong>1 hour</strong></i></button>
              <button ng-click="fastFill('3 hours ago', 'now')" class="btn btn-default btn-sm"><i><span class="text-muted">Last</span> <strong>3 hours</strong></i></button>
              <button ng-click="fastFill('6 hours ago', 'now')" class="btn btn-default btn-sm"><i><span class="text-muted">Last</span> <strong>6 hours</strong></i></button>
              <button ng-click="fastFill('12 hours ago', 'now')" class="btn btn-default btn-sm"><i><span class="text-muted">Last</span> <strong>12 hours</strong></i></button>
              &nbsp;|&nbsp;
              <button ng-click="fastFill('1 day ago', 'now')" class="btn btn-default btn-sm"><i><span class="text-muted">Last</span> <strong>1 day</strong></i></button>
              <button ng-click="fastFill('3 days ago', 'now')" class="btn btn-default btn-sm"><i><span class="text-muted">Last</span> <strong>3 days</strong></i></button>
              <button ng-click="fastFill('7 days ago', 'now')" class="btn btn-default btn-sm"><i><span class="text-muted">Last</span> <strong>7 days</strong></i></button>
              &nbsp;|&nbsp;
              <button ng-click="fastFill('today', 'now')" class="btn btn-default btn-sm"><i><strong>Today</strong></i></button>
              <button ng-click="fastFill('yesterday', 'today')" class="btn btn-default btn-sm"><i><strong>Yesterday</strong></i></button>
            
            </div>
          </div>
        </div> <!-- container row -->

        <div class="container row">
          <div class="col-xs-7">
            <div class="form-horizontal">
              <div ng-class="{'form-group': true, 'has-error': status.invalidPagePeriodStart}">
                <label class="col-xs-1 control-label">From</label>
                <div class="col-xs-11">
                  <div class="input-group">
                    <input tooltip-append-to-body="true" tooltip-popup-delay="500" tooltip="Examples: January 10, 2012; Fri, 12:33; 3:45pm; Last week; 3 days before, yesterday etc." type="text" class="form-control" ng-model="settings.def.period.start" ng-change="">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Fast Fill <span class="caret"></span></button>
                      <ul class="dropdown-menu pull-right">
                        <li><a href ng-click="fastFill('5 minutes ago', null)">5 minutes ago</a></li>
                        <li><a href ng-click="fastFill('15 minutes ago', null)">15 minutes ago</a></li>
                        <li><a href ng-click="fastFill('30 minutes ago', null)">30 minutes ago</a></li>
                        <li class="divider"></li>
                        <li><a href ng-click="fastFill('1 hour ago', null)">1 hour ago</a></li>
                        <li><a href ng-click="fastFill('3 hours ago', null)">3 hours ago</a></li>
                        <li><a href ng-click="fastFill('6 hours ago', null)">6 hours ago</a></li>
                        <li><a href ng-click="fastFill('12 hours ago', null)">12 hours ago</a></li>
                        <li class="divider"></li>
                        <li><a href ng-click="fastFill('1 day ago', null)">1 day ago</a></li>
                        <li><a href ng-click="fastFill('3 days ago', null)">3 days ago</a></li>
                        <li><a href ng-click="fastFill('7 days ago', null)">7 days ago</a></li>
                        <li><a href ng-click="fastFill('15 days ago', null)">15 days ago</a></li>
                        <li class="divider"></li>
                        <li><a href ng-click="fastFill('1 month ago', null)">1 month ago</a></li>
                      </ul>
                    </div><!-- /btn-group -->
                  </div><!-- /input-group -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="form-horizontal" ng-show="status.invalidPagePeriodStart">
              <p class="form-control-static"><span class="text-warning"><i class="fa fa-warning"></i> Invalid datetime</span></p>
            </div>
            <div class="form-horizontal" ng-show="(!status.invalidPagePeriodStart && status.isShowTimerStart)">
              <p class="form-control-static"><span class="text-success"><i class="fa fa-calendar"></i> {{ settingsPeriodStart |date:'yyyy-MM-dd HH:mm:ss Z' }}</span></p>
            </div>
          </div>
        </div> <!-- container row -->
        <div class="container row">
          <div class="col-xs-7">
            <div class="form-horizontal">
              <div ng-class="{'form-group': true, 'has-error': status.invalidPagePeriodEnd}">
                <label class="col-xs-1 control-label">To&nbsp;&nbsp;</label>
                <div class="col-xs-11">
                  <div tooltip-append-to-body="true" tooltip-popup-delay="500" tooltip="Examples: Now; January 10, 2012; Fri, 12:33; 3:45pm; Last week; 3 days before, yesterday etc." class="input-group">
                    <input type="text" class="form-control" ng-model="settings.def.period.end">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Fast Fill <span class="caret"></span></button>
                      <ul class="dropdown-menu pull-right">
                        <li><a href ng-click="fastFill(null, 'now')">Now</a></li>
                        <li class="divider"></li>
                        <li><a href ng-click="fastFill(null, '1 minute ago')">1 minute ago</a></li>
                      </ul>
                    </div><!-- /btn-group -->
                  </div><!-- /input-group -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="form-horizontal" ng-show="status.invalidPagePeriodEnd">
              <p class="form-control-static"><span class="text-warning"><i class="fa fa-warning"></i> Invalid datetime</span></p>
            </div>
            <div class="form-horizontal" ng-show="(!status.invalidPagePeriodEnd && status.isShowTimerEnd)">
              <p class="form-control-static"><span class="text-success"><i class="fa fa-calendar"></i> {{ settingsPeriodEnd |date:'yyyy-MM-dd HH:mm:ss Z' }}</span></p>
            </div>
          </div>
        </div> <!-- container row -->

        <div class="container row"><h4>Comparison</h4><hr></div>


        <div class="container row">

            <div class="container row">
              <div class="checkbox">
                <label tooltip-popup-delay="500" tooltip="Enable history comparison or not">
                  <input type="checkbox" ng-model="settings.def.period.compare"> Enable comparison with
                </label>
              </div>
            </div>

            <div class="container row" ng-show="settings.def.period.compare">
              <div class="col-xs-5">

                <div class="radio">
                  <label>
                    <input type="radio" name="optionComparison" ng-model="settings.def.period.offset" ng-value="-86400">
                    One day before
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionComparison" ng-model="settings.def.period.offset" ng-value="-604800">
                    One Week before
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionComparison" ng-model="settings.def.period.offset" ng-value="-2592000">
                    A month before
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="optionComparison" ng-model="settings.def.period.userDefined" ng-value="true">
                    User Defined
                  </label>
                </div>

              </div>
              <div class="col-xs-7">
                <div class="form-group">
                  <label>Offset for</label>

                  <div class="row">
                    <div class="col-xs-6">
                      <div class="input-group input-group-sm">
                        <input type="number" class="form-control" ng-model="settings.def.period.offset">
                        <span class="input-group-addon">seconds</span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

        </div>


      </tab>
      <!-- Periods Tab End -->

      <!-- Visualization Tab Start -->
      <tab>

        <tab-heading><i class="fa fa-bar-chart-o"></i> Visualization</tab-heading>
        <p>&nbsp;</p>
        <div class="container row"><h4>Type</h4></div>

        <div class="container row">
          <div class="col-xs-12">
            <label class="radio-inline">
                <input type="radio" name="chartType" ng-model="settings.def.visualization.type" value="area">
                Area
            </label>
            <label class="radio-inline">
                <input type="radio" name="chartType" ng-model="settings.def.visualization.type" value="line">
                Lines
            </label>
            <label class="radio-inline">
                <input type="radio" name="chartType" ng-model="settings.def.visualization.type" value="column">
                Columns
            </label>
            <label class="radio-inline">
                <input type="radio" name="chartType" ng-model="settings.def.visualization.type" value="range">
                Range Area <span class="text-muted">(Mean-Max)</span>
            </label>
          </div>
        </div>

        <br>

        <div class="container row"><h4>Options</h4><hr></div>

        <div class="container row">
          <div class="col-xs-2">
            <div tooltip-popup-delay="500" tooltip="Which kind of value should be use to display the charts" class="form-group">
              <label>Chart Value</label>
              <select class="form-control" ng-model="settings.def.visualization.chartValue" ng-disabled="settings.def.visualization.chartValueDisabled">
                <option value="min">Min</option>
                <option value="mean">Mean</option>
                <option value="max">Max</option>
                <option value="count">Count</option>
                <option value="total">Total</option>
              </select>
            </div>
          </div>

          <div class="col-xs-2">
            <div tooltip-popup-delay="500" tooltip="Stacking normally or percent" class="form-group">
              <label>Stacking</label>
              <select class="form-control" ng-model="settings.def.visualization.stacking" ng-disabled="settings.def.visualization.type === 'range'">
                <option value="">Disabled</option>
                <option value="normal">Normal</option>
                <option value="percent">Percent</option>
              </select>
            </div>
          </div>

          <div class="col-xs-2">
            <div tooltip-popup-delay="500" tooltip="Input the value field directly, or use a script to alter the value as you need. For example: doc['_value'].value * 1000" class="form-group">
              <label>Value Field/Script</label>
              <input ng-model="settings.def.visualization.valueField" class="form-control" type="text" placeholder="Field Name">
            </div>
          </div>
          <div class="col-xs-2">
            <div tooltip-popup-delay="500" tooltip="The datetime field" class="form-group">
              <label>Time Field</label>
              <input ng-model="settings.def.visualization.timeField" class="form-control" type="text" placeholder="Field Name">
            </div>
          </div>
<!--           <div class="col-xs-2">
            <div class="form-group">
              <label>Downsample Interval</label>
              <input ng-model="settings.visualization.pointInterval" class="form-control" type="text">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <label>Points Resolution</label>
              <input ng-model="settings.visualization.pointResolution" class="form-control" type="text">
            </div>
          </div> -->
          <div class="col-xs-2">

            <div class="input-group" style="margin: 2px;">
              <span class="input-group-addon" style="width: 90px;">
                <label tooltip-popup-delay="500" tooltip="Set the resolution by interval"><input ng-model="settings.def.visualization.pointIntervalOpt" value="interval" type="radio" name="downsampleOption">&nbsp;Interval</label>
              </span>
              <input tooltip-append-to-body="true" tooltip-popup-delay="500" tooltip="The interval of points. It allows for the constant values of year, quarter, month, week, day, hour, minute. also support time setting like 1.5h (up to w for weeks)." style="text-align:right;" type="text" class="form-control" ng-model="settings.def.visualization.pointInterval">
            </div><!-- /input-group -->

            <div class="input-group" style="margin: 2px;">
              <span class="input-group-addon" style="width: 90px;">
                <label tooltip-popup-delay="500" tooltip="Set the resolution by points"><input ng-model="settings.def.visualization.pointIntervalOpt" value="points" type="radio" name="downsampleOption">&nbsp;Points</label>
              </span>
              <input tooltip-append-to-body="true" tooltip-popup-delay="500" tooltip="How many points for a chart" style="text-align:right;" type="text" min="1" class="form-control" ng-model="settings.def.visualization.pointPoints">
            </div><!-- /input-group -->

          </div><!-- /.col-lg-6 -->

        </div>


      </tab>
      <!-- Visualization Tab End -->

  </tabset>
</div>

<div ng-hide="isControlPanelHidden" class="highlight">

  <div class="pull-right">
    <span>
      Save current settings as
        <button class="btn btn-sm btn-default">Workbench</button>
        <button class="btn btn-sm btn-default">Dashboard</button>
    </span>
  </div>

  <button ng-disabled="status.isLoading" ng-click="showGraph()" class="btn btn-sm btn-primary">Show !</button>
  <button tooltip-popup-delay="500" tooltip="Edit the current querying settings in RAW JSON" ng-click="editInConsole()" class="btn btn-sm btn-default">Edit in Console</button>
  <span class="text-muted">
  &nbsp;
  <img ng-show="status.isLoading" src="images/loading.gif">
</div>


<div ng-hide="!isControlPanelHidden" class="row">
  <div class="col-xs-12">
    <button ng-click="isControlPanelHidden = false" class="btn btn-default btn-block"><i class="fa fa-chevron-down"></i> Show Control Panel <i class="fa fa-chevron-down"></i></button>
  </div>
  <hr>
</div>


<div class="highlight">
  <h4>Graph Output {{ status.loadingPercent }}</h4>
  <div class="row">
    <div ng-show="(!status.isLoading) && charts.length && (!status.snapshotSaved)" class="col-xs-12">
      <a tooltip-popup-delay="500" tooltip="Click to edit the title of snapshot" href="#" editable-text="snapshot.name">{{ snapshot.name }}</a>
      <button tooltip-popup-delay="500" tooltip="Save all displayed charts as a snapshot and you can share it later" ng-click="saveAsSnapshot()" ng-show="!status.isLoading && charts.length" class="btn btn-xs btn-success"><i class="fa fa-floppy-o"></i> Save and Share</button>
    </div>
    <div ng-show="(!status.isLoading) && charts.length && (status.snapshotSaved)" class="col-xs-12">
      <p class="text-success">All following charts have been saved as <a ng-href="{{ status.snapshotUrl }}">{{ status.snapshotUrl }}</a></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div ng-repeat="chart in charts">
      <highchart config="chart" class="col-xs-12"></highchart>
    </div>
    <div ng-show="status.isLoading" class="col-xs-12">
      <img src="images/loading_line.gif">
    </div>
  </div>
</div>
