<div class="bs-example">
  <tabset>
      <tab>
        <tab-heading><i class="fa fa-wrench"></i> Model</tab-heading>
        <p>&nbsp;</p>
        <!-- model start -->
        <div class="container row">
          <div class="col-md-3">
            <div ng-click="toggleChecked($index)" ng-repeat="dimension in $root.config.currentProfile.dimensions" class="wellbox">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="isChecked[$]"> {{ dimension.name }}
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-1 control-label">Search</label>
                <div class="col-sm-11">
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <hr>
            <div class="well">
              <div class="container">
                <div class="col-md-3">
                  <h4>Release and project</h4>
                  <hr>
                  <span class="text-muted">release="%release%"</span>
                </div>
                <div class="col-md-9">test</div>
              </div>
            </div>
          </div>
        </div>
        <!-- model end -->
      </tab>
      <tab>
        <tab-heading><i class="fa fa-clock-o"></i> Periods</tab-heading>
        <p></p>
        periods
      </tab>
      <tab>
        <tab-heading><i class="fa fa-bar-chart-o"></i> Visualization</tab-heading>
        the graph
      </tab>
  </tabset>
</div>
<div class="highlight">
  <button class="btn btn-sm btn-primary">Show !</button>
  <button class="btn btn-sm btn-default">Restore</button>
  <span class="text-muted"> | </span>
  <button class="btn btn-sm btn-default">Save</button>
</div>
<div class="highlight">
  <h4>Graph Output</h4>
  <hr>
  Please define the model before
</div>
