/*The main body*/
body {
  padding-top: 70px;
}

a {
  cursor: pointer;
}

button:focus {
  outline: 0 !important;
  -webkit-appearance:none;
  -moz-appearance:none;
}

.group-normal {
  border-style: solid;
  border-color: white;
  padding: 5px;
  border-radius: 3px;
}

.group-active {
  border-style: solid;
  border-color: green;
  padding: 5px;
  border-radius: 3px;
}

.modal-dialog
{
  width: 800px;
}
