<div class="modal-header">
  <span class="pull-right">
    <button class="btn btn-sm btn-default" ng-click="close()"><i class="fa fa-times"></i></button>
  </span>
  <h4>Chart {{ chart.name }} <small class="text-muted">{{chart.description}}</small></h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-12">
      <highchart style="height: 350px" config="chartData"></highchart>
    </div>
    <div class="col-xs-12">
      <hr>
      <form class="form-inline" role="form" ng-submit="refreshChart()">
        <label>&nbsp;From</label>
        <div class="form-group" style="width:150px;">
          <!-- <input ng-model="chart.chartQuery.period.start" type="text" class="form-control input-sm" placeholder="From time"> -->
          <div class="input-group">
            <input type="text" class="form-control" ng-model="chart.chartQuery.period.start" >
            <div class="input-group-btn dropup">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu pull-right">
                <li><a href ng-click="chart.chartQuery.period.start = '5 minutes ago'">5 minutes ago</a></li>
                <li><a href ng-click="chart.chartQuery.period.start = '15 minutes ago'">15 minutes ago</a></li>
                <li><a href ng-click="chart.chartQuery.period.start = '30 minutes ago'">30 minutes ago</a></li>
                <li class="divider"></li>
                <li><a href ng-click="chart.chartQuery.period.start = '1 hour ago'">1 hour ago</a></li>
                <li><a href ng-click="chart.chartQuery.period.start = '3 hours ago'">3 hours ago</a></li>
                <li><a href ng-click="chart.chartQuery.period.start = '6 hours ago'">6 hours ago</a></li>
                <li><a href ng-click="chart.chartQuery.period.start = '12 hours ago'">12 hours ago</a></li>
                <li class="divider"></li>
                <li><a href ng-click="chart.chartQuery.period.start = '1 day ago'">1 day ago</a></li>
                <li><a href ng-click="chart.chartQuery.period.start = '3 days ago'">3 days ago</a></li>
                <li><a href ng-click="chart.chartQuery.period.start = '7 days ago'">7 days ago</a></li>
                <li><a href ng-click="chart.chartQuery.period.start = '15 days ago'">15 days ago</a></li>
                <li class="divider"></li>
                <li><a href ng-click="chart.chartQuery.period.start = '1 month ago'">1 month ago</a></li>
              </ul>
            </div><!-- /btn-group -->
          </div><!-- /input-group -->
        </div>
        <label>&nbsp;To</label>
        <div class="form-group" style="width:120px;">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="chart.chartQuery.period.end" >
            <div class="input-group-btn dropup">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
              <ul class="dropdown-menu pull-right">
                <li><a href ng-click="chart.chartQuery.period.end = 'now'">now</a></li>
                <li><a href ng-click="chart.chartQuery.period.end = 'yesterday'">Yesterday</a></li>
                <li><a href ng-click="chart.chartQuery.period.end = 'today'">Today</a></li>
              </ul>
            </div><!-- /btn-group -->
          </div><!-- /input-group -->
        </div>
        <label>&nbsp;Stack</label>
        <select ng-model="chart.chartQuery.stacking" class="form-control input-sm">
          <option value="">None</option>
          <option value="normal">Normal</option>
          <option value="percent">Percent</option>
        </select>
        <label>&nbsp;Style</label>
        <select ng-model="chart.chartQuery.graphType" class="form-control input-sm">
          <option value="area">Area</option>
          <option value="line">Line</option>
          <option value="column">Column</option>
          <option value="range">Range</option>
        </select>
        <label>&nbsp;Series</label>
        <select ng-model="chart.chartQuery.seriesType" class="form-control input-sm">
          <option value="min">Min</option>
          <option value="mean">Mean</option>
          <option value="max">Max</option>
          <option value="count">Count</option>
          <option value="total">Total</option>
        </select>
        &nbsp;<button type="submit" class="btn btn-sm btn-primary">Show</button>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
</div>
